---
import Heading from "./ui/Heading.astro";
---

<section class="pt-4 prose prose-lg max-w-none">
  <Heading
    as="h1"
    class="text-5xl"
    >It's me, hi.</Heading
  >
  <p class="text-3xl">
    I'm Travis. I write about software development and other stuff.
  </p>
  <p>
    A couple of my favorite essays I've written recently are about <a
      href="/certainty"
      class="animated"
      >(un)certainty</a
    > and <a
      href="/the-sacred-and-mundane"
      class="animated"
      >the sacredness of the mundane</a
    >.
  </p>
  <p>
    I'm a <a
      class="animated"
      href={"https://welevelupcreators.com/team/"}
      target="_blank"
      >husband</a
    >, a
    <a
      class="animated"
      href={"https://kidslearncareers.com"}
      target="_blank"
      >dad</a
    >, and a software engineer at
    <a
      class="animated"
      href={"https://paleovalley.com"}
      target="_blank"
      >Paleovalley</a
    >.
  </p>
  <p>
    I would love to hear from you. Send me <a
      class="animated"
      href="mailto:travis@travisnorthcutt.com"
      target="_blank"
      >an email</a
    > or find me <a
      class="animated"
      href="https://twitter.com/tnorthcutt"
      target="_blank"
      >on twitter</a
    > or <a
      class="animated"
      href="https://bsky.app/profile/travisnorthcutt.com"
      target="_blank"
      >Bluesky</a
    >.

    <style></style>
  </p>
</section>
