---
import Heading from "./ui/Heading.astro";
---

<section class="pt-4">
  <Heading as="h1" class="text-5xl">It's me, hi.</Heading>
  <p class="text-3xl">
    I'm Travis. I write about software engineering, leadership, and occasionally
    other stuff.
  </p>
  <p>
    I'm a <a
      class="animated"
      href={"https://welevelupcreators.com/team/"}
      target="_blank">husband</a
    >, a
    <a class="animated" href={"https://kidslearncareers.com"} target="_blank"
      >dad</a
    >, and an engineering manager at
    <a class="animated" href={"https://apiabroad.com"} target="_blank"
      >API Abroad</a
    >.
  </p>
  <p>
    I would love to hear from you. Send me <a
      href="mailto:travisnorthcutt.com"
      target="_blank">an email</a
    > or find me <a href="https://twitter.com/tnorthcutt" target="_blank"
      >on twitter</a
    >.
  </p>
</section>

<style></style>
