---
import Heading from "./ui/Heading.astro";
---

<section class="pt-4">
  <Heading
    as="h1"
    class="text-5xl"
  >
    It's me, hi.
  </Heading>
  <p class="text-3xl">I'm Travis. I write about software engineering, leadership, and occasionally other stuff.</p>
  <p class="hello">
    I'm a <a class="animated" href={"https://www.theactioneffect.com/about#:~:text=Amanda%20Northcutt"} target="_blank">husband</a>, a 
    <a
      class="animated"
      href={"https://kidslearncareers.com"}
      target="_blank">dad</a
    >, and a lead software engineer at 
    <a
      class="animated"
      href={"https://apiabroad.com"}
      target="_blank">API Abroad</a
    >.
  </p>
</section>

<style>
</style>
