---
import Heading from "./ui/Heading.astro";
---

<section class="pt-4 prose prose-lg max-w-none">
  <Heading
    as="h1"
    class="text-5xl"
    >It's me, hi.</Heading
  >
  <p class="text-3xl">I'm Travis. I write essays and do some other stuff.</p>
  <p>
    A couple of my favorite essays I've written recently are about <a
      href="/certainty"
      class="animated"
      >(un)certainty</a
    > and <a
      href="/the-sacred-and-mundane"
      class="animated"
      >the sacredness of the mundane</a
    >.
  </p>
  <p>
    I also have a podcast called <a
      href="https://everythingisinterestingpod.com"
      class="animated"
      >Everything Is Interesting</a
    >, where I talk to people about whatever they're super into. It's on pause
    right now; maybe it will return.
  </p>
  <p>
    I'm a <a
      class="animated"
      href={"https://welevelupcreators.com/team/"}
      target="_blank"
      >husband</a
    > and a
    <a
      class="animated"
      href={"https://kidslearncareers.com"}
      target="_blank"
      >dad</a
    >.
  </p>
  <p>
    I started doing some <a
      class="animated"
      href="https://x.com/tnorthcutt/status/1929611675344220556"
      target="_blank"
      >sculpture</a
    > in 2025 and I feel like I've found the art I need to make.
  </p>
  <p>
    I would love to hear from you. Send me <a
      class="animated"
      href="mailto:travis@travisnorthcutt.com"
      target="_blank"
      >an email</a
    > or find me <a
      class="animated"
      href="https://twitter.com/tnorthcutt"
      target="_blank"
      >on twitter</a
    > or <a
      class="animated"
      href="https://bsky.app/profile/travisnorthcutt.com"
      target="_blank"
      >Bluesky</a
    >.

    <style></style>
  </p>
</section>
