<div class="twitter-embed">
    <div class="">
        <img class="float-left w-16 h-16 rounded-full ml-4 mt-2 mb-0 inline"
            src="https://pbs.twimg.com/profile_images/926988544194895872/9M287hc9_reasonably_small.jpg" />
        <a class="text-gray-500 hover:text-gray-900 no-underline" href="https://twitter.com/tnorthcutt">Travis
            Northcutt<br>@tnorthcutt</a>
    </div>
    {{{embedData}}}
</div>